
.banner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner-card .banner-text button{
    padding: 7px 15px;
    background: transparent;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    transition: transform 0.2s ease;
}

.banner-card .banner-text button:hover{
    transform: scale(0.9);
}
.banner-card img {
    max-width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;

    display: block;
    text-align: center;

}


@media(max-width: 640px){
    .box_container4{
        
       grid-template-columns: 200px ;
       grid-auto-rows: 400px;
       padding: 20px 50px 20px 50px ;
   }
}
@media(min-width: 768px){
     .box_container4{
         
        grid-template-columns: 200px 200px  ;
        grid-auto-rows: 400px;
        padding: 20px 50px 20px 50px ;
    }
}
   
       
@media(min-width: 1024px){
    .box_container4{
        
       grid-template-columns: 200px 200px 200px 200px ;
       grid-auto-rows: 350px;
       padding: 20px 50px 20px 50px ;
   }

}
@media (min-width: 1400px){
     .box_container4{
        grid-template-columns: 270px 270px 270px 270px  ;
        grid-auto-rows: 350px;
        

    }
}