.container2 h1 {
    text-align: center;
}

.container2 h1 b {
    clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%);
    background-color: orange;
    padding: 5px 20px;
    display: inline-block;
    width: 130px;
}

.container2 .box_container2 {
    display: grid;
   
    grid-auto-rows: 350px;
    gap: 15px;
    justify-content: center;
}

.container2 .box_container2 .box2 {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 50px 50px;
    margin: 5px;
}

.container2 .box_container2 .box2 img {
    height: 100px;
}

.container2 .box_container2 .box2 button {
    padding: 7px 15px;
    background: transparent;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    transition: transform 0.2s ease;
}

.container2 .box_container2 .box2 button:hover {
    transform: scale(0.9);
}

@media(max-width: 640px){
    .box_container2{
        
       grid-template-columns: 200px;
       grid-auto-rows: 400px;
       padding: 20px 50px 20px 50px ;
   }
}
@media(min-width: 768px){
     .box_container2{
         
        grid-template-columns: 200px 200px  ;
        grid-auto-rows: 400px;
        padding: 20px 50px 20px 50px ;
    }
}
   
       
@media(min-width: 1024px){
    .box_container2{
        
       grid-template-columns: 200px 200px 200px 200px ;
       grid-auto-rows: 350px;
       padding: 20px 50px 20px 50px ;
   }

}
@media (min-width: 1400px){
     .box_container2{
        grid-template-columns: 270px 270px 270px 270px  ;
        grid-auto-rows: 350px;
        

    }
}